@model MVCPrimerEjemplo.Models.CinemaViewModel

@{
    ViewData["Title"] = "Cinemas list";
}

<h1>Todos los cines</h1>


@*<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cinemas[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinemas[0].NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinemas[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cinemas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ver salas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
